<section class="contact section" data-content="4">
    <div class="contact__wrapper section-block">
        <div class="contact__info">
            <h2 class="contact__title title">
                Contact
            </h2>
            <div class="contact__text">
                <p>
                    Questions or concerns? Just fill out the form below and our support team will get back to you within
                    24 hours
                </p>
            </div>
        </div>
        <div class="contact__form">
            <form class="contact__form-submit form" action="#">
                <div class="form__name">
                    <input class="form__input" type="text" placeholder="First Name" name="firstName">
                    <input class="form__input" type="text" placeholder="Last Name" name="lastName">
                </div>
                <input class="form__input" type="number" placeholder="Phone Number" name="phoneNumber">
                <div class="form__menu" tabindex="0">
                    <ul class="form__filter">
                        <li class="form__filter-selected">Выберите локацию</li>
                        <li>
                            <ul class="form__select">
                                <li class="form__option">Service 1</li>
                                <li class="form__option">Service 2</li>
                                <li class="form__option">Service 3</li>
                                <li class="form__option">Service 4</li>
                                <li class="form__option">Service 5</li>
                                <li class="form__option">Service 6</li>
                                <li class="form__option">Service 7</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <button type="submit" class="form__button btn btn_pink">Submit Now</button>
            </form>
        </div>
    </div>

</section>