  <nav class="sidebar" title="Main menu" id="sidebar">
    <div class="logo">
      <picture class="logo__picture">
        <source srcset="images/icons/logo.svg" media="(max-width: 768px)" width="136" height="22">
        <img class="logo__image" src="images/icons/logo.svg" alt="CloudBudget logo" width="236" height="42">
      </picture>
    </div>
    <ul class="sidebar__menu" id="tabs" >
      <li class="sidebar__item" role="presentation">
        <button type="button" class="sidebar__button active" data-tab="1">Overview</button>
      </li>
      <li class="sidebar__item" role="presentation">
        <button type="button" class="sidebar__button" data-tab="2">Features</button>
      </li>
      <li class="sidebar__item" role="presentation">
        <button type="button" class="sidebar__button" data-tab="3">Technology</button>
      </li>
      <li class="sidebar__item" role="presentation">
        <button type="button" class="sidebar__button" data-tab="4">Contact</button>
      </li>
      <li class="sidebar__item" role="presentation">
        <button type="button" class="sidebar__button" data-tab="5">Sign Up</button>
      </li>
    </ul>
  </nav>
  