<section class="features section" data-content="2">
    <div class="features__wrapper section-block">
        <h2 class="features__title title">
            Features
        </h2>
        <ul class="features__list card-block">
            <li class="card-block__item">
                <div class="card-block__image">
                    <img src="images/features/supports.jpg" alt="Supports All Currencies and Cards" width="350"
                        height="250">
                </div>
                <div class="card-block__box">
                    <h3 class="card-block__subtitle">Supports All Currencies and Cards</h3>
                    <div class="card-block__text">
                        <p>
                            We support all popular currencies and is fully customizable to add
                        </p>
                    </div>
                    <a class="card-block__link link" href="#">Read More</a>
                </div>
            </li>
            <li class="card-block__item">
                <div class="card-block__image">
                    <img src="images/features/manage.jpg" alt="Manage your expenses on the go" width="350"
                        height="250">
                </div>
                <div class="card-block__box">
                    <h3 class="card-block__subtitle">Manage your expenses on the go</h3>
                    <div class="card-block__text">
                        <p>
                            You can access your account from anywhere in the world on any device
                        </p>
                    </div>
                    <a class="card-block__link link" href="#">Read More</a>
                </div>
            </li>
            <li class="card-block__item">
                <div class="card-block__image">
                    <img src="images/features/software.jpg" alt="Cloud Budget Management Software" width="350"
                        height="250">
                </div>
                <div class="card-block__box">
                    <h3 class="card-block__subtitle">Cloud Budget Management Software</h3>
                    <div class="card-block__text">
                        <p>
                            Our software is made so you can access and manage your budget
                        </p>
                    </div>
                    <a class="card-block__link link" href="#">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>