<section class="overview section active" data-content="1">
    <div class="overview__wrapper section-block">
        <div class="overview__content">
            <h2 class="overview__title title">
                Easy to Use Cloud Budget Management Software
            </h2>
            <div class="overview__text">
                <p>
                    Our software is made so you can access and manage your budget and expenses online at any time from
                    any device. It provides detailed income and expense reports with graphs so you can easilly see your
                    spending patterns and budget at a glance. Read below to find out more.
                </p>
            </div>
            <a class="overview__link link" href="#">Learn More</a>
        </div>
        <div class="overview__image">
            <img src="../../images/overview/overview-meeting.jpg" alt="how we carry out our meetings" width="445"
                height="311">
        </div>
    </div>
</section>